.green-btn {
    border: 1px solid #1a9800;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    color: white;
    font-size: 14px;

    padding: 5px 15px 5px 15px;
    margin-left: 4px;
    cursor: pointer;

    background: #2CC66B; /* Old browsers */
    background: -moz-linear-gradient(top, #2CC66B 0%, #28A456 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2CC66B), color-stop(100%, #28A456)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2CC66B 0%, #28A456 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #2CC66B 0%, #28A456 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #2CC66B 0%, #28A456 100%); /* IE10+ */
    background: linear-gradient(to bottom, #2CC66B 0%, #28A456 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2CC66B', endColorstr='#28A456', GradientType=0); /* IE6-9 */
}

.green-btn:hover {
    background: #2EE586; /* Old browsers */
    background: -moz-linear-gradient(top, #2EE586 0%, #28A456 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2EE586), color-stop(100%, #28A456)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2EE586 0%, #28A456 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #2EE586 0%, #28A456 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #2EE586 0%, #28A456 100%); /* IE10+ */
    background: linear-gradient(to bottom, #2EE586 0%, #28A456 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2EE586', endColorstr='#28A456', GradientType=0); /* IE6-9 */

    border-color: #1eb300;
}
