body {
	margin: 0;
}


.fh-link {
	text-decoration: none;
	color: #66D8EE;
}
/* header menu */
.fh-header {
	background: #363F48;
	min-height: 60px;
}

.fh-container {
	max-width: 900px;
	margin: 0 auto;
}

.fh-logo {
	float: left;
	margin-top: 10px;
	border: 1px solid;
	padding: 4px;
	color: white;
	font-size: 22px;
}


.fh-header ul {
	float: right;
}
.fh-header li {
	float: left;
  	list-style: none;
  	padding: 5px 15px;
  	color: white; 
  	display: inline-block;
  	cursor: pointer;
}

.fh-header li.selected {
  	color: #9DA6AF; 
}
/* body */
.fh-body {
	max-width: 900px;
  	min-height: 500px;
	clear: both;
	padding-right: 15px;
  	padding-left: 15px;
  	margin-right: auto;
  	margin-left: auto;
}

/* comment */
.fh-comment-userinfo {
	width: 49%;
	float: left;
}

.fh-comment-userinfo input {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}
.fh-comment-email {
	margin-left: 2%;
	margin-bottom: 10px;
}

.fh-comment-msg {
	clear: both;
	width: 100%;
}

.fh-comment-msg textarea{
	width: 100%;
	min-height: 100px;
	padding: 10px;
	box-sizing: border-box;
}

.fh-comment-submit {
	float: right;
	padding: 20px 45px;
	font-size: 18px;
}

.fh-comment-item {
	clear: both;
	margin-bottom: 20px; 
}
.fh-avatar {
	width: 60px;
	height: 60px;
	background: gray;
	float: left;
}
.fh-comment-author-name {
	font-size: 22px;
	line-height: 1.2;
	font-weight: bold;
	color: black;
}

.fh-text {
	padding-left: 75px;
	box-sizing: border-box;
}

.fh-comment-reply {
	color: gray;
}
/* article */
.article {
	width: 80%;
	float: left;
}
/* right menu */
.fh-right-menu {
	padding-left: 10px;
	box-sizing: border-box;
	width: 20%;
	float: left;
}

.fh-right-menu ul {
	padding: 0px;
}
.fh-right-menu ul > li {
	list-style: none;
	cursor: pointer;

}
/* footer */
.fh-footer {
	clear: both;
  	margin-top: 60px;
	color: white; 
	background: #262D33;
	min-height: 160px;
	padding: 40px 0px 40px 0px;
}

.fh-footer-menu > ul {
	padding: 0;
	float: left;
}
.fh-footer-menu > ul > li {
	float: left;
  	list-style: none;
  	padding: 5px 15px;
  	display: inline-block;
  	color: #9DA6AF; 
}

.fh-footer-menu > ul > li > ul {
	padding: 10px 0;
}

.fh-footer-menu > ul > li > ul > li {
  	list-style: none;
  	color: white;
}

.fh-footer .fh-logo {
	float: right;
	font-size: 14px;
	color: #9DA6AF;
}

.fh-footer p {
	clear: both;
	float: left;
}