body {
	font-family: Helvetica;
	font-size: 14px;	
	margin: 0;
}

h1, h2 {
	color: black;
}

p{
	font-size: 12px;
}

.fh-body {
	line-height: 1.8;
	color: gray;
}

.fh-footer ul {
	line-height: 1.8;
	font-size: 12px;
}